@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "font"; /* Define a name for your font */
  src: url("/public/fonts/arabic.otf") format("opentype"); /* Provide the path to your OTF font */
}

body {
  font-family: "font", sans-serif;
  direction: rtl;
  color: rgb(46, 46, 46);
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

input {
  @apply w-full p-2 transition-all border rounded-md shadow-md outline-none focus:border-orange-400 bg-neutral-50 hover:border-orange-200;
}

.btn-primary {
  @apply w-40 p-3 transition-all duration-500 bg-green-200 rounded-md max-w-40 hover:bg-emerald-100 hover:shadow-md;
}
.btn-error {
  @apply w-40 p-3 transition-all duration-500 bg-red-200 rounded-md max-w-40 hover:bg-red-100 hover:shadow-md;
}

.warningContainer {
  @apply w-full p-4 text-yellow-800 bg-yellow-100 border border-yellow-800 rounded-md;
}
